<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYVKWeIm2ZIgtUDm9h-nsNUqAQ_WPMBb8</string>
	<key>GCM_SENDER_ID</key>
	<string>306942070131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruth.skinjournal</string>
	<key>PROJECT_ID</key>
	<string>skinjournal-9c8f6</string>
	<key>STORAGE_BUCKET</key>
	<string>skinjournal-9c8f6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306942070131:ios:4e0198cf77a3454a298906</string>
</dict>
</plist>